@font-face {
    font-family: 'quicksand';
    src: url('fonts/quicksand_semibold.ttf') format('truetype');
}

body {
    font-family: 'quicksand', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    font-family: 'quicksand', Arial, sans-serif;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

select, textarea, button {
    font-family: 'quicksand', Arial, sans-serif;
    width: 90%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #fbc02d;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #f9a825;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #888;
}
